h1 {
  color: #170370;
  text-align: center;
}
.big {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}
.full {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.containerItem {
  color: whitesmoke;
  margin: 20px;
}
.about p {
  font-size: 18px;
}
.about {
  margin: 30px auto;
}
/*///////media///////*/
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .containerItem {
    margin: 20px auto;
    width: 90%;
  }
}
